/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  white-space: nowrap;
}

.footer ul {
    list-style: none;
    padding: 0;
}

/* Home */
.banner-container {
    background-image: url("https://images.unsplash.com/photo-1585735119301-232c1633d439?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    /*background: #ffb347;*/ /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
    background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    padding: 16rem 0;
    position: relative;
}

.banner-text {
    color: #fff;
}

.banner-title {
    font-size: 3rem;
}

.banner-desc {
    font-size: 1.4rem;
}

/* Section */
section {
    padding: 6rem 0;
}

.section-desc {
    margin-bottom: 3.5rem;
}

#categories .card {
    box-shadow: 0 8px 32px rgba(0,0,0,.08);
    margin-bottom: 16px;
    border: 1px solid rgba(51,51,51,.1);
    box-sizing: border-box;
    transition: all .25s ease;
    border-radius: 8px;
}

.card-body {
    padding: 3rem 0;
    justify-content: center;
    align-items: center
}

#categories .card:hover {
    transform: scale(1.05);
    box-shadow: 0 24px 56px rgba(0,0,0,.14);
}

#categories .card img {
    margin-bottom: 16px;
}