<footer class="footer">
    <div class="container">
        <div class="row footer-top">
            <div class="col-md-3 col-sm-12">
                <a asp-area="" asp-page="/Index">
                    <h3>OrderWa</h3>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <h6>Learn More</h6>
                <ul>
                    <li><a asp-area="" asp-page="/About">About</a></li>
                    <li><a asp-area="" asp-page="">Delivery</a></li>
                    <li><a asp-area="" asp-page="/Privacy">Privacy</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6">
                <h6>Add-ons</h6>
                <ul>
                    <li>About</li>
                    <li>Delivery</li>
                    <li>Privacy</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6">
                <h6>Comapny</h6>
                <ul>
                    <li>About</li>
                    <li>Delivery</li>
                    <li>Privacy</li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6">
                <h6>Legal</h6>
                <ul>
                    <li>About</li>
                    <li>Delivery</li>
                    <li>Privacy</li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; @DateTime.Now.Year.ToString() - Order - <a asp-area="" asp-page="/Privacy">About</a> - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </div>
</footer>