@page
@model Online_Ordering_System.Pages.CartModel
@{
    ViewData["title"] = "Cart";
}

<div class="container pt-5">
    <a asp-page="/List" class="btn btn-link mt-3"><i class="fas fa-angle-left mr-3"></i>Go Back to List</a>
    <div class="row">
        <div class="col-md-8">
            <div ng-app="app" ng-controller="CartController">
                <div class="cart-item" ng-repeat="item in cartList">
                    <table>
                        <tr>
                            <td>
                                <img src="~/img/empty-image.jpg" width="150" height="150" alt="" />
                            </td>
                            <td>
                                <div class="cart-detail">
                                    <h6>{{item.ProductName}}</h6>
                                    <p>
                                        <div><span>RM 0.00</span></div>
                                        <div class="text-muted">Delivery Estimate: Tomorrow</div>
                                        <div>
                                            <a href="#">Remove</a>
                                        </div>
                                    </p>
                                </div>
                            </td>
                            <td>
                                <select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </td>
                            <td>
                                <div class="cart-price">
                                    <p>{{item.ProductPrice}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="cart-summary">
                <h4>Summary</h4>
                <div class="cart-subtotal">
                    <span>Subtotal</span>
                    <span class="amount">RM 0.00</span>
                </div>
                <div class="cart-delivery">
                    <span>Estimated Delivery</span>
                    <span class="amount">RM 0.00</span>
                </div>

                <hr />
                <div class="cart-total">
                    <span>Total</span>
                    <span class="amount">0.00</span>
                </div>
                <div class="checkout-btn">
                    <button type="button" class="btn btn-dark form-control">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        var app = angular.module('app', []);
            app.controller('CartController', function ($scope) {
                let cartStorage = JSON.parse(localStorage.getItem("cartItems"));

                $scope.cartList = cartStorage["productItems"];
            });
    </script>
    <script>
        let cartStorage = JSON.parse(localStorage.getItem("cartItems"));
        function AjaxPost() {
            $.ajax({
                type: 'POST',
                data: {
                    cartList: cartStorage
                },
                success: function (res) {
                    alert(res);
                },
                error: function (res) {
                    alert(res);
                }
            });
        }
    </script>

}