@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="banner-container">
    <div class="container banner-text">
        <h1 class="banner-title">Welcome</h1>
        <p class="banner-desc">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>

<section id="categories" class="container">
    <div class="section-desc">
        <h2>Categories</h2>
        <p>description</p>
    </div>
    <div class="row text-center">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <a href="#">
                        <img src="https://img.icons8.com/cute-clipart/64/000000/broccoli.png" />
                        <h5>Vegetable</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <a href="#">
                        <img src="https://img.icons8.com/cute-clipart/64/000000/thanksgiving.png" />
                        <h5>Meat</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <a href="#">
                        <img src="https://img.icons8.com/cute-clipart/64/000000/apple.png" />
                        <h5>Fruit</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <a href="#">
                        <img src="https://img.icons8.com/cute-clipart/64/000000/barbershop.png" />
                        <h5>Shampoo</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <a href="#">
                        <img src="https://img.icons8.com/cute-clipart/64/000000/nut.png" />
                        <h5>Vegetable</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <a asp-area="" asp-page="/List">
                <div class="card">
                    <div class="card-body">
                        <img src="https://img.icons8.com/cute-clipart/64/000000/search.png" />
                        <h5>See More</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<section id="howitwork" class="container">
    <div class="section-desc">
        <h2>How it Work</h2>
        <p>description</p>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-badge primary">
                <i class="fa fa-search"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h5 class="timeline-title">Office Added</h5>
                </div>
                <div class="timeline-body">
                    <p>Permissions to perform work for the Fort Smith (FOR) office were added by Ric Flair.</p>
                    <a href="http:ubh.com"></a>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success">
                <i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h5 class="timeline-title">Document Approved</h5>
                    <p>
                        <small class="text-muted">
                            <i class="fa fa-clock-o"></i>
                            10 hours ago via Roddy Piper
                        </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>A new version of the W-9 document was approved.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger">
                <i class="fa fa-truck-loading"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h5 class="timeline-title">Data Change Rejected</h5>
                    <p>
                        <small class="text-muted">
                            <i class="fa fa-clock-o"></i> 2 days ago via Rick Martel
                        </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>The address data change was rejected.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning">
                <i class="fa fa-truck"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h5 class="timeline-title">Data Change Requested</h5>
                    <p>
                        <small class="text-muted">
                            <i class="glyphicon glyphicon-time"></i> 3 days ago via Adrian Adonis
                        </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>A change to the vendor TIN was requested.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info">
                <i class="fa fa-people-carry"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h5 class="timeline-title">W-9 Document Uploaded for Approval</h5>
                    <p>
                        <small class="text-muted">
                            <i class="glyphicon glyphicon-time"></i> 4 days ago via Bob Orton
                        </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Bob uploaded a new version of the W-9 document. A vendor workflow for approval was initiated.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success">
                <i class="far fa-thumbs-up"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h5 class="timeline-title">Vendor Approved</h5>
                    <p>
                        <small class="text-muted">
                            <i class="glyphicon glyphicon-time"></i> 5 months ago via Randy Savage
                        </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>The vendor was approved and added to the system.</p>
                </div>
            </div>
        </li>
    </ul>
</section>

<section id="testimonial" class="container">
    <div class="section-desc">
        <h2>Testimonial</h2>
        <p>description</p>
    </div>
</section>
