@page
@model ListModel
@{
    ViewData["title"] = "List";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            <h5 class="mb-3">Filters</h5>
            <form>
                @if (Model.Categories.Count() > 0)
                {
                    <div class="filter_row mb-4">
                        <div class="form-group">
                            <h6 class="text-muted mb-3">Categories</h6>
                            @foreach (var item in Model.Categories)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkName[]">
                                    <label class="custom-control-label" for="checkName[]">@Html.DisplayFor(m => item.Name)</label>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <p>No Category Found!</p>
                }
            </form>
        </div>

        <div class="col-9 item-result">
            @{
                int ProductRow = Model.Products.Count();
                <p>1 - 25 of @ProductRow available</p>
            }
            @if (ProductRow > 0)
            {
                foreach (var item in Model.Products)
                {
                    <div class="card mb-3">
                        <a asp-area="" asp-page="Shop" asp-route-id="@item.ProductID">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="https://via.placeholder.com/150" class="card-img" alt="placeholder">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(m => item.Name)</h5>
                                        <p class="card-text">@Html.DisplayFor(m => item.Description)</p>
                                        <div class="item-list-footer">
                                            <span class="badge badge-secondary">Light</span>
                                            <span class="badge badge-secondary">Light</span>
                                            <span class="badge badge-secondary">Light</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>No Product Found!</p>
            }
        </div>
    </div>
</div>