@page
@model Online_Ordering_System.Pages.ProductModel
@{
    ViewData["title"] = "Product";
}

<div class="detail-banner mb-4">
    <div class="container">
        <div class="detail-info">
            <h1>Company Info</h1>
            <p>Desc</p>
            <div class="item-list-footer">
                <span class="badge badge-secondary">Light</span>
                <span class="badge badge-secondary">Light</span>
                <span class="badge badge-secondary">Light</span>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Resources</a>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="tab-content-detail">
                
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="tab-content-detail">
                hello
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="tab-content-detail">
                hello
            </div>
        </div>
    </div>
</div>