@page
@model Online_Ordering_System.Pages.ProfileModel
@{
    ViewData["title"] = "Profile";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#profile-tab" role="tab" aria-controls="home">Profile</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#account-tab" role="tab" aria-controls="profile">Accounts</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#address-tab" role="tab" aria-controls="messages">Delivery Address</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="profile-tab" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" autocomplete="off">
                                <div class="text-danger" asp-validation-summary="All"></div>
                                <div class="form-group row">
                                    <label asp-for="Users.FirstName" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Users.FirstName" type="text" class="form-control" id="inputFirstname" placeholder="email@example.com">
                                        <span asp-validation-for="Users.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Users.LastName" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Users.LastName" type="text" class="form-control" id="inputLastname" placeholder="Enter Lastname">
                                        <span asp-validation-for="Users.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Users.PhoneNumber" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Users.PhoneNumber" type="text" class="form-control" id="inputPhoneNumber" placeholder="Enter Contact Number">
                                        <span asp-validation-for="Users.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <input asp-page-handler="Personal" type="submit" value="Save" class="btn btn-primary float-right" />
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-tab">
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                <div class="text-danger" asp-validation-summary="All"></div>
                                <div class="form-group row">
                                    <label asp-for="Users.Email" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Users.Email" type="text" class="form-control" id="inputEmail" placeholder="Enter Email">
                                        <span asp-validation-for="Users.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Users.Password" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Users.Password" type="text" class="form-control" id="inputPassword" value="" placeholder="Enter Password">
                                        <span asp-validation-for="Users.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Users.Password" class="col-sm-4 col-form-label">Confirm Password</label>
                                    <div class="col-sm-8">
                                        <input asp-for="Users.Password" type="text" class="form-control" id="inputConfirmPassword" value="" placeholder="Enter Confirm Password">
                                        <span asp-validation-for="Users.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <button asp-page-handler="Account" type="submit" class="btn btn-primary float-right">Save</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-tab">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" autocomplete="off">
                                <div class="text-danger" asp-validation-summary="All"></div>
                                <div class="form-group row">
                                    <label asp-for="Users.Address" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Users.Address" type="text" class="form-control" id="inputAddress" placeholder="Enter Address">
                                        <span asp-validation-for="Users.Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Users.City" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Users.City" type="text" class="form-control" id="inputCity" placeholder="Enter City">
                                        <span asp-validation-for="Users.City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Users.State" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Users.State" type="text" class="form-control" id="inputState" placeholder="Enter State">
                                        <span asp-validation-for="Users.State" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Users.PostalCode" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Users.PostalCode" type="text" class="form-control" id="inputPostalCode" placeholder="Enter Postal Code">
                                        <span asp-validation-for="Users.PostalCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="Users.Country" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input asp-for="Users.Country" type="text" class="form-control" id="inputCountry" placeholder="Enter Country">
                                        <span asp-validation-for="Users.Country" class="text-danger"></span>
                                    </div>
                                </div>
                                <button asp-page-handler="Address" type="submit" class="btn btn-primary float-right">Save</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    $('a[data-toggle="list"]').on('show.bs.tab', function (e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if (activeTab) {
        $('#list-tab a[href="' + activeTab + '"]').tab('show');
    }
</script>
}