@page
@model Online_Ordering_System.Pages.SignInModel
@{
    Layout = "_SignLayout";
    ViewData["title"] = "Sign In";
}

<div class="container">
    <div class="row login-wrap">
        <div class="col-md-7">
            <h1>Login</h1>
        </div>
        <div class="col-md-5">
            <div class="card login-card">
                <div class="card-body">
                    <form method="post">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <span class="text-danger">@Model.Message</span>
                        
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input asp-for="Input.Email" type="email" class="form-control" id="inputEmail" placeholder="Enter email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input asp-for="Input.Password" type="text" class="form-control" id="inputPassword" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <a asp-page="/Forgot">Forgot password?</a>
                        <button type="submit" class="btn btn-primary btn-block mt-3">Log In</button>

                        <div class="text-center mt-3">
                            Not account yet? <a asp-page="/SignUp">Create an account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>