@page
@model Online_Ordering_System.Pages.AdminPages.DashboardModel
@{
    ViewData["title"] = "Dashboard";
}

<div class="col-md-12 mt-4">
    <h2 class="text-center">Welcome to Seller Page</h2>
</div>